/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

/* Variable declaration for colors */
:root {
  --primary-blue: #115e98;
  --text-white: #ffffff;
  --text-peach: #ffd3d5;
  --text-black: rgba(0, 0, 0, 0.87);
  --text-gray: rgba(0, 0, 0, 0.6);
  --light-blue: rgba(17, 94, 152, 0.12);
  --mid-blue: rgba(17, 94, 152, 0.4);
  --light-gray: rgba(0, 0, 0, 0.12);
  --text-red: #ef4e76;
}

/* Setting global margin, padding and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* Setting global anchor tag styling */
a,
a:hover,
a:visited {
  color: var(--primary-blue);
  text-decoration: none;
}

/* Centering the page */
body {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

/* Styling the main wrapper for the page */
.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  display: grid;
  grid:
    "content nav" 100% /
    auto 25em;
}

/* Styling the layout of the home page content */
.home-content {
  grid-area: content;
  padding: 4.5em 0 4.5em 4.5em;
  display: grid;
  grid:
    "banner" 1fr
    "products" auto/
    100%;
}

/* Styling the main discount banner */
.banner {
  grid-area: banner;
  margin-bottom: 2em;
  position: relative;
  border-radius: 1em;
  padding: 16px;
  transition: transform 0.4s;
  box-shadow: 0px 0px 30px rgba(17, 94, 152, 0.03),
    0px 0px 20px rgba(17, 94, 152, 0.06), 0px 0px 10px rgba(17, 94, 152, 0.12);
}

.banner:hover {
  transform: translate(0, -8px);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.banner-white-text {
  color: var(--text-white);
  font-weight: 500;
  font-size: 40px;
  position: absolute;
}

#banner-1 {
  left: 54%;
  top: 36%;
}

#banner-3 {
  left: 72%;
  top: 82%;
}

#banner-3 span {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-peach);
  margin-left: 6px;
  vertical-align: text-top;
}

.disclaimer {
  font-size: 12px;
  position: absolute;
  color: var(--text-peach);
  bottom: 2em;
  left: 2em;
}

.banner-2 {
  color: var(--text-peach);
  font-weight: 400;
  font-size: 144px;
  position: absolute;
  left: 56.5%;
  top: 53.25%;
}

.banner-2 span {
  font-size: 48px;
}

#banner-2-outline {
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-blue);
  font-weight: 400;
  font-size: 144px;
  position: absolute;
  transform: translate(8px, 8px);
}

/* Styling the products section of the home page */
.products {
  background-color: white;
  grid-area: products;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 222px;
  width: 100%;
  position: relative;
}

.product-card {
  display: grid;
  grid:
    "image" 200px
    "label" 4.5em/
    100%;
  border-radius: 1em;
  padding: 16px 16px 0 16px;
  margin-right: 32px;
  transition: transform 0.4s;
  box-shadow: 0px 0px 30px rgba(17, 94, 152, 0.03),
    0px 0px 20px rgba(17, 94, 152, 0.06), 0px 0px 10px rgba(17, 94, 152, 0.12);
}

.product-card:hover {
  transform: translate(0, -8px);
}

.see-all {
  width: 222px;
  margin-right: 0;
}

.product-card .label {
  grid-area: label;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.product-card .label h1 {
  font-weight: 500;
  color: var(--text-black);
  font-size: 20px;
  place-self: center start;
}

.product-card .label p {
  color: var(--text-gray);
  font-size: 0.875em;
  place-self: center end;
}

.see-all .label h1 {
  place-self: center end;
  color: var(--primary-blue);
}
.see-all .label img {
  place-self: center end;
  width: 24px;
  margin-left: 12px;
}

.product-image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  max-height: 240px;
  border-radius: 8px;
}

/* Styling the nav */
nav {
  grid-area: nav;
  display: grid;
  grid:
    "header" 12.5em
    "cart" 1fr
    "about" 10em/
    100%;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

.header {
  grid-area: header;
  display: grid;
  place-content: start center;
  text-align: center;
}

#sub-title {
  margin-top: 1.5em;
  font-family: Inter;
  font-size: 1em;
  color: var(--primary-blue);
}

#logo {
  transition: transform 0.4s;
}
#logo:hover {
  transform: scale(1.05);
}

.cart {
  display: grid;
  place-content: center;
  text-align: center;
}

.cart img {
  left: 50%;
  position: relative;
  transform: translate(-50%);
}

#cart-status {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--light-blue);
  position: relative;
  margin-top: 1em;
}

.about-section {
  grid-area: about;
  display: grid;
  place-content: end center;
}

/* Styling the links, hover and visited states */
.link {
  font-family: Inter;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
}

.link:visited {
  color: var(--primary-blue);
}

.link:hover {
  text-decoration: underline;
}

.back-link {
  display: grid;
  place-content: center start;
  grid-auto-flow: column;
}

.back-link:hover {
  text-decoration: underline;
}

.back-link p {
  color: var(--primary-blue);
  padding-left: 0.75em;
  font-size: 1.25em;
  font-weight: 500;
}

/* Stylingthe page title */
#page-title {
  font-weight: 500;
  font-size: 2em;
  color: var(--text-black);
  padding-top: 2.5em;
}

/* Layout and styling of the internal pages */
.product-listing-content,
.product-details-content,
.details-listing-card,
.shopping-cart-content,
.wishlist-content {
  background-color: #fff;
  height: 100%;
  position: relative;
  grid-area: content;
  padding: 4.5em 4.5em 4.5em 4.5em;
}

.shadow-element {
  background-color: var(--primary-blue);
  position: absolute;
  right: 2%;
  top: 10%;
  width: 40px;
  height: 80%;
  filter: blur(20px);
  z-index: -1;
}

/* Styling the product listing layout */
.product-listing-block,
.shopping-cart-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  padding-top: 3em;
}

.product-listing-card,
.wishlist-card {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0px 0px 30px rgba(17, 94, 152, 0.03),
    0px 0px 20px rgba(17, 94, 152, 0.06), 0px 0px 10px rgba(17, 94, 152, 0.12);
  border-radius: 1em;
  display: grid;
  grid:
    "image info" 2fr
    "buttons buttons" 1fr /
    auto 50%;
  grid-column-gap: 1em;
}

.card-title {
  grid-area: info;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--text-black);
}

.product-price {
  grid-area: info;
  font-size: 0.875em;
  color: var(--text-gray);
  padding-top: 0.75em;
}

.product-content {
  grid-area: info;
  color: var(--text-gray);
  font-size: 0.75em;
  letter-spacing: 0.02em;
  padding-top: 2em;
}

.product-listing-image {
  width: 155px;
  height: 155px;
  grid-area: image;
  border-radius: 0.5em;
}

.card-link {
  grid-area: buttons;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2em;
  place-content: end;
  width: 100%;
  height: 100%;
  font-weight: 500;
}

/* Styling the product details page */
.breadcrumbs {
  display: grid;
  grid-auto-flow: column;
  place-content: start;
  font-size: 1.25em;
  margin-top: 2em;
}

.breadcrumbs p {
  padding: 0 0.75em 0 0.75em;
}

#details-title {
  font-weight: 500;
  font-size: 2em;
  color: var(--text-black);
  margin: 0.5em 0 1em 0;
}

.details-container {
  position: relative;
  display: grid;
  grid:
    "data options" 1fr /
    auto 50%;
  grid-column-gap: 4.5em;
}

/* Styling the product details */
.details-data {
  grid-area: data;
  display: grid;
  grid:
    "image" auto
    "data" 1fr/
    100%;
}

.details-options {
  grid-area: options;
}

.details-image {
  grid-area: image;
  max-width: 365px;
  border-radius: 0.5em;
}

.details-content {
  grid-area: data;
  margin-top: 3em;
  font-size: 14px;
  color: var(--text-gray);
  letter-spacing: 0.02em;
}

.details-color h2,
.details-size h2,
.details-quantity h2 {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.details-size h2,
.details-quantity h2 {
  margin-top: 2em;
}

/* Styling the color customization settings */
.color-options {
  grid-area: options;
}

.container {
  position: relative;
  width: 320px;
  height: 56px;
  margin-top: 0.75em;
}

.container input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label {
  display: grid;
  grid-auto-flow: column;
  place-content: center start;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 2px solid var(--light-gray);
  border-radius: 1em;
  cursor: pointer;
  transition: border 0.1s;
}

label span {
  padding-top: 6px;
}

.container input:checked + label {
  border: 2px solid var(--primary-blue);
  background-color: var(--light-blue);
}

.container input:hover + label {
  border: 2px solid var(--mid-blue);
}

.colorbox {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  margin-right: 0.75em;
}

.afterschool {
  background-color: #f2b926;
}

.morninghaze {
  background-color: #e3f6f4;
}

.cozydenim {
  background-color: #6977bf;
}

.rainyday {
  background-color: #887d7d;
}

/* Styling the size options */
.size-options {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
}

.size-container {
  width: 130px;
  height: 124px;
  margin-right: 1em;
}

.size-label {
  display: block;
  width: 125px;
  padding: 0.5em 1em 0.5em 1em;
}

.size-label .size-title {
  display: block;
  padding-bottom: 0.5em;
  font-weight: 500;
  font-size: 1em;
}

/* Styling the quantity unit */
.quantity-unit {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  width: fit-content;
  margin-top: 0.75em;
}

.quantity-unit button {
  padding: 1em 1.3em 1em 1.3em;
  font-size: 1.5em;
  font-weight: 800;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 100%;
  border: none;
}

.decrease {
  opacity: 0.3;
}

.increase,
.decrease {
  cursor: pointer;
  transition: transform 0.2s;
}

.increase:hover,
.decrease:hover {
  transform: scale(1.1);
}

.increase:active,
.decrease:active {
  background-color: var(--mid-blue);
}

.quantity-unit h1 {
  padding: 20px 32px 14px 32px;
  border: 1px solid var(--light-gray);
  border-radius: 0.5em;
}
#quantity-value {
  width: 100px;
  text-align: center;
}

/* Styling the add to cart unit */
.add-to-cart {
  position: absolute;
  z-index: 1;
  display: grid;
  right: 0;
  transform: translate(50%);
  top: 30%;
}

#add-to-cart-text {
  background-color: var(--text-gray);
  font-weight: 500;
  font-size: 1.25em;
  text-align: center;
  padding: 1em 2em 1em 2em;
  color: white;
  border-radius: 1em;
  border: 1px solid var(--primary-blue);
  backdrop-filter: blur(10px);
  line-height: 2;
}

.add-to-cart button {
  background-color: var(--primary-blue);
  width: fit-content;
  place-self: center;
  padding: 2em;
  width: 8em;
  height: 8em;
  transform: translate(0, -1em);
  border-radius: 100%;
  transition: transform 0.2s;
  border: none;
  transform-origin: 50% 140%;
  cursor: pointer;
}

.add-to-cart button:hover {
  transform: scale(1.1);
}

.add-to-card button:active {
  background-color: var(--mid-blue);
  border: 20px solid blue;
}

.add-to-cart input {
  margin: 1em;
  width: 8em;
  text-align: center;
  border-radius: 1em;
  font-size: 1em;
  padding: 1em;
}

.add-to-cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart input:focus {
  outline: none;
}

#go-to-cart {
  background-color: var(--primary-blue);
  font-weight: 500;
  font-size: 1em;
  border: none;
  color: white;
  padding: 1em 4em 1em 4em;
  border-radius: 1em;
  margin-top: 2em;
  display: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#go-to-cart:hover {
  transform: scale(1.05);
}

#about-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(17, 94, 152, 0.3);
  backdrop-filter: blur(40px);
  place-content: center;
  display: grid;
}

.about-card {
  position: relative;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 0px 30px rgba(17, 94, 152, 0.03),
    0px 0px 20px rgba(17, 94, 152, 0.06), 0px 0px 10px rgba(17, 94, 152, 0.12);
  width: 65em;
  padding: 4.5em;
  display: grid;
  grid:
    "text map" 1fr /
    auto 1fr;
  grid-gap: 4.5em;
}

.about-data {
  grid-area: text;
}

.about-data h1 {
  font-weight: 500;
  font-size: 2em;
  color: var(--primary-blue);
}

.about-location {
  display: grid;
  grid-auto-flow: column;
  place-content: start;
  margin-top: 0.75em;
}

.about-location p {
  margin-left: 0.5em;
  font-family: Inter;
  font-weight: 500;
  font-size: 1em;
  color: var(--primary-blue);
}

.about-textblock {
  font-size: 0.875em;
  line-height: 140%;
  margin-top: 3em;
}

.map {
  grid-area: map;
}

#close-modal {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.discount-listing-card {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0px 0px 30px rgba(17, 94, 152, 0.03),
    0px 0px 20px rgba(17, 94, 152, 0.06), 0px 0px 10px rgba(17, 94, 152, 0.12);
  border-radius: 1em;
  display: grid;
  grid:
    "image info" 2fr
    "image buttons" 1fr /
    auto 1fr;
  grid-column-gap: 2em;
  place-content: start;
  position: relative;
  margin-top: 2.5em;
}

.discount-card-title {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--text-black);
}

.discount-price {
  font-size: 0.75em;
  color: var(--text-gray);
  margin-top: 1em;
}

.discount-offer {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--text-red);
  position: absolute;
  right: 1.25em;
  top: 1.25em;
}

.discount-banner {
  /* background-color: var(--primary-blue); */
  padding: 0.9em;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 1.5em;
  text-align: center;
  background-image: url("../images/discount-banner.svg");
  background-size: contain;
  background-position: center;
  background-repeat: none;
}

.discount-listing-image {
  width: 124px;
  height: 124px;
  grid-area: image;
  border-radius: 0.5em;
}

.discount-listing-block {
  padding-bottom: 4.5em;
}

#added-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(17, 94, 152, 0.3);
  backdrop-filter: blur(40px);
  place-content: center;
  display: none;
}

#added-to-cart {
  padding: 4.5em;
  background: white;
  border-radius: 1em;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--text-black);
  display: grid;
  place-content: center;
}

#add-confirm {
  background-color: var(--primary-blue);
  font-size: 0.75em;
  color: white;
  width: fit-content;
  place-self: center;
  padding: 1.5em 2em 1.5em 2em;
  margin-top: 2em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

#cart-header {
  width: 100%;
  display: grid;
  grid:
    "item quantity subtotal delete" 100%/
    1fr 20% 20% 10%;
  text-align: center;
  padding: 1em 0 1em 0;
}

.cart-label {
  font-weight: 500;
  font-size: 1em;
  color: var(--text-black);
}

.cart-item {
  width: 100%;
  display: grid;
  grid:
    "product quantity subtotal delete" 100%/
    1fr 20% 20% 10%;
  border-bottom: 1px solid var(--primary-blue);
}

.cart-product {
  grid-area: product;
  display: grid;
  grid:
    "image title" 1fr
    "image details" 1fr /
    auto 1fr;
  padding: 2em;
}

.cart-product h1 {
  grid-area: title;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--text-black);
}

.cart-product img {
  grid-area: image;
  place-self: center;
  height: 4.5em;
  width: 4.5em;
  border-radius: 0.5em;
  margin-right: 2em;
}

.cart-product-details {
  grid-area: details;
  display: grid;
  place-content: end start;
  grid-auto-flow: column;
}

.cart-product-color {
  padding-right: 1em;
  font-weight: 400;
  font-size: 1em;
  color: var(--text-gray);
  border-right: 1px solid var(--text-gray);
}

.cart-product-size {
  padding-left: 1em;
  font-weight: 400;
  font-size: 1em;
  color: var(--text-gray);
}

.cart-quantity {
  grid-area: quantity;
  display: grid;
  place-content: center;
  font-size: 1.5em;
  color: var(--text-gray);
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.cart-subtotal {
  grid-area: subtotal;
  display: grid;
  place-content: center;
  font-size: 1.5em;
  color: var(--text-gray);
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.cart-delete-item {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.last-cart-item {
  border: none;
}

#cart-total-block {
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 50% 50%;
  width: 500px;
  right: 0;
  padding: 2em 4.5em 4.5em 0;
}

#final-sub-amount,
#final-delivery-amount,
#final-tax-amount {
  text-align: end;
  padding-top: 1.5em;
  font-family: Inter;
  font-weight: 600;
  font-size: 1em;

  color: var(--text-gray);
}

#final-total-amount {
  text-align: end;
  padding-top: 1.5em;

  font-weight: 500;
  font-size: 1.5em;

  text-align: right;

  color: var(--text-black);
}

.total {
  margin-top: 2em;
  border-top: 1px solid var(--light-blue);
  display: grid;
  grid-auto-flow: column;
  grid-column: span 2;
}

#final-subtotal,
#final-delivery,
#final-tax {
  padding-top: 1.5em;

  font-weight: 400;
  font-size: 1em;

  color: var(--text-gray);
}

#final-total {
  padding-top: 1.5em;
  font-weight: 400;
  font-size: 1.5em;

  color: var(--text-gray);
}

#checkout {
  background-color: var(--primary-blue);
  font-weight: 500;
  font-size: 1em;
  border: none;
  color: white;
  padding: 1em 4em 1em 4em;
  margin: 10em 4.5em 0 0;
  border-radius: 1em;
  margin-top: 2em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  right: 0;
  position: absolute;
}

#checkout:hover {
  transform: scale(1.05);
}

#cart-empty-display {
  display: none;
  text-align: center;
  padding: 4.5em;
  place-content: center;
}

#cart-empty-display img {
  margin: auto;
  padding: 2em;
}

#cart-empty-display h2 {
  padding: 1em;
  font-weight: 400;
  /* background-color: red; */
}

#cart-empty-display h1 {
  font-weight: 500;
  font-size: 2em;

  color: var(--text-black);
}

#title-block {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}

#wishlist {
  padding: 1.25em 0 0 1.5em;
  cursor: pointer;
}

#wishlist-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding-top: 4.5em;
}

.remove-button p {
  font-family: Inter;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
  color: var(--text-red);
}

.empty-wishlist {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 4.5em;
  text-align: center;
}

.empty-wishlist img {
  padding: 2em;
}

.empty-wishlist h1 {
  font-weight: 500;
  font-size: 2em;
  color: var(--text-black);
  padding-bottom: 1em;
}
